.ico{
  &__arr{
    &-up{
      width: 16px;
      height: 12px;
      background: url("../assets/img/icons/ico_arr_up.png")no-repeat center;
      background-size: contain;
    }
    &-down{
      width: 16px;
      height: 12px;
      background: url("../assets/img/icons/ico_arr_down.png")no-repeat center;
      background-size: contain;
    }
    &-left{
      width: 6px;
      height: 10px;
      background: url("../assets/img/icons/arr_left.png")no-repeat center;
      background-size: contain;
      &__white{
        width: 10px;
        height: 16px;
        background: url("../assets/img/icons/arr_left_w.png")no-repeat center;
        background-size: contain;
      }
    }
    &-right{
      width: 6px;
      height: 10px;
      background: url("../assets/img/icons/arr_right.png")no-repeat center;
      background-size: contain;
      &__white{
        width: 10px;
        height: 16px;
        background: url("../assets/img/icons/arr_right_w.png")no-repeat center;
        background-size: contain;
      }
    }
  }
  &__phone{
    height: 20px;
    width: 20px;
    background: url("../assets/img/icons/ico_phone.png")no-repeat center;
    background-size: contain;
  }
  &__rate{
    &__good{
      background: url("../assets/img/icons/rate_good.png")no-repeat center;
      background-size: contain;
    }
    &__bed{
      background: url("../assets/img/icons/rate_bed.png")no-repeat center;
      background-size: contain;
    }
  }
  &__rise{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url("../assets/img/icons/Positive Dynamic.png")no-repeat center;
    background-size: contain;
  }
  &__edit{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: contain!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
  }
  &__face{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url("../assets/img/icons/Butting In.png")no-repeat center;
    background-size: contain;
  }
  &__check{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url("../assets/img/icons/Approval.png")no-repeat center;
    background-size: contain;
  }
  &__mail{
    background: url("../assets/img/icons/ico_mail.png")no-repeat center;
    background-size: contain;
  }
  &__book{
    background: url("../assets/img/icons/ico_book.png")no-repeat center;
    background-size: contain;
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  &__calendar{
    background: url("../assets/img/icons/ico_calendar.png")no-repeat center;
    background-size: contain;
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  &__search{
    background: url("../assets/img/icons/analysis(1).png")no-repeat center;
    background-size: contain;
  }
  &__rocket{
    background: url("../assets/img/icons/zapusk.png")no-repeat center;
    background-size: contain;
  }
  &__time{
    background: url("../assets/img/icons/obratnaya_svyz.png")no-repeat center;
    background-size: contain;
  }
  &__calc{
    background: url("../assets/img/icons/vovlechenie_klienta.png")no-repeat center;
    background-size: contain;
  }
  &__team{
    background: url("../assets/img/icons/team(1).png")no-repeat center;
    background-size: contain;
  }
}