.link-btn{
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.block-title{
  position: relative;
  width: 100%;
  padding-left: 145px;
  font-family: "TTNorms";
  font-size: 20px;
  font-weight: 300;
  color: #646464;
  margin-top: 0;
  margin-bottom: 45px;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 110px;
    height: 4px;
    background-color: #dedeef;
  }
}
.collapse__menu{
  display: none;
  width: 100%;
  height: 25px;
  position: relative;
  background: url("../assets/img/icons/ico_arr_down_w.png")no-repeat center #145c9e;
  background-size: 16px auto;
  &.active{
    background: url("../assets/img/icons/ico_arr_up_w.png")no-repeat center #023d79;
    background-size: 16px auto;
    order: 1;
  }
}