.link-btn{
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.block-title{
  position: relative;
  width: 100%;
  padding-left: 145px;
  font-family: "TTNorms";
  font-size: 20px;
  font-weight: 300;
  color: #646464;
  margin-top: 0;
  margin-bottom: 45px;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 110px;
    height: 4px;
    background-color: #dedeef;
  }
}
.collapse__menu{
  display: none;
  width: 100%;
  height: 25px;
  position: relative;
  background: url("../assets/img/icons/ico_arr_down_w.png")no-repeat center #145c9e;
  background-size: 16px auto;
  &.active{
    background: url("../assets/img/icons/ico_arr_up_w.png")no-repeat center #023d79;
    background-size: 16px auto;
    order: 1;
  }
}
.breadcrumb{
  margin-top: 25px;
  margin-bottom: 25px;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    li{
      position: relative;
      &:last-child{
        &:after{
          content: "";
        }
      }
      &:after{
        display: inline-block;
        vertical-align: top;
        content: "//";
        margin-right: 8px;
        margin-left: 7px;

      }
      a{
        font-family: "TTNorms";
        font-size: 12px;
        font-weight: 500;
        display: inline-block;
        color: $c-text-d;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.mod-adv{
  .footer{
    margin-top: 0;
  }
}
.img-bg{
  background-size: cover!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.mod-promotion{
  .about-audit__tabs{
    flex-wrap: wrap;
    a{
      margin-bottom: 10px;
    }
  }
}
input::placeholder{
  color: white;
}