.welcome{
  font-size: 0;
  position: relative;
  white-space: nowrap;
  &__slide{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 720px;
    white-space: normal;
    &__bg{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover!important;
      background-position: center!important;
    }
    &__content{
      height: 100%;
      h1{
        padding: 0 20px;
        font-size: 54px;
        font-family: "TTNorms";
        font-weight: 700;
        color: white;
        text-shadow: 0 0 2px #023d79,0 0 2px #023d79,0 0 2px #023d79;
        margin-top: 0;
        margin-bottom: 20px;
      }
      p{
        align-self: flex-start;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 20px;
        padding: 20px 25px;
        background-color: rgba(6,52,157,0.7);
        color: white;
        font-size: 17px;
        font-family: "TTNorms";
        font-weight: 500;
      }
      a{
        align-self: flex-start;
        display: inline-block;
        margin-left: 20px;
        white-space: normal;
        padding: 0 20px;
        background: linear-gradient(-45deg, #5581f1, #1153fc);
        border-radius: 25px;
        height: 60px;
        position: relative;
        box-shadow: 0px 0px 20px 3px #5581f1;
        &:hover{
          background: linear-gradient(-45deg, #4d61c2, #1146c1);
          box-shadow: none;
        }
        span{
          display: inline-block;
          color: white;
          font-family: "TTNorms";
          font-size: 14px;
          font-weight: 600;
          margin: 0 10px;
          line-height: 60px;
          vertical-align: middle;
          text-transform: uppercase;
        }
        i{
          display: inline-block;
          line-height: 60px;
          vertical-align: middle;
        }
      }
      .row{
        height: 100%;
        > div{
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &__point{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 30px;
      bottom: 25px;
      height: 13px;
      z-index: 2;
      a{
        border-radius: 50%;
        display: inline-block;
        height: 11px;
        width: 11px;
        border: 1px solid #2575e3;
        background-color: white;
        margin: 0 2px;
        cursor: pointer;
        &.active{
          background-color: transparent;
          border: 1px solid white;
        }
      }
    }
  }
}
.about{
  margin-top: 75px;
  .row{
    position: relative;
  }
  &__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
  }
  &__info{
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    &__title{
      font-family: "TTNorms";
      font-size: 11px;
      font-weight: 600;
      color: $c-text-d;
      margin-top: 0;
      margin-bottom: 30px;
    }
    &__name{
      font-family: "TTNorms";
      font-size: 35px;
      font-weight: 400;
      color: $c-text-d;
      margin-top: 0;
      margin-bottom: 35px;
    }
    &__text{
      font-family: "TTNorms";
      font-size: 12px;
      font-weight: 400;
      color: $c-text-d;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  &__btn{
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    justify-content: flex-end;
    a{
      margin-bottom: 40px;
      padding: 0 20px;
      line-height: 54px;
      border-radius: 20px;
      border: 1px solid rgba(67, 125, 200, 0.6);
      background-color: rgba(20,92,158,0.6);
      box-shadow: -2px 2px 10px 1px #135ee8ad;
      &:hover{
        border: 1px solid rgba(67, 125, 200, 0.9);
        background-color: rgba(20,92,158,0.9);
      }
      span{
        color: white;
        font-size: 14px;
        font-weight: 500;
        font-family: "TTNorms";
        margin: 0 10px;
        line-height: 52px;
        display: inline-block;
        vertical-align: middle;
      }
      i{
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
.service{
  padding-top: 80px;
  &__card{
    height: 330px;
    margin-bottom: 32px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
    &:hover{
      .service__card__bg{
        box-shadow: inset 0 0 10px 200px rgba(53,64,76,0.01);
      }
    }
    &__bg{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover!important;
      background-position: center!important;
      background-repeat: no-repeat!important;
      box-shadow: inset 0 0 10px 200px rgba(53,64,76,0.4);
    }
    &__text{
      padding: 0 30px;
      position: relative;
      font-family: "TTNorms";
      font-size: 26px;
      line-height: 28px;
      font-weight: 500;
      color: white;
      text-align: center;
      margin-bottom: 45px;
    }
    &__link{
      align-self: flex-start;
      display: inline-block;
      margin-left: 20px;
      white-space: normal;
      padding: 0 20px;
      background: linear-gradient(-45deg, #5581f1, #1153fc);
      border-radius: 25px;
      height: 60px;
      position: relative;
      box-shadow: 0px 0px 20px 3px #5581f1;
      &:hover{
        background: linear-gradient(-45deg, #4d61c2, #1146c1);
        box-shadow: none;
      }
      span{
        display: inline-block;
        color: white;
        font-family: "TTNorms";
        font-size: 14px;
        font-weight: 600;
        margin: 0 10px;
        line-height: 60px;
        vertical-align: middle;
        text-transform: uppercase;
      }
      i{
        display: inline-block;
        line-height: 60px;
        vertical-align: middle;
      }
    }
  }
}
.call-back{
  margin-top: 40px;
  background-color: #d71732;
  padding-top: 70px;
  padding-bottom: 60px;
  form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  &__title{
    font-family: "TTNorms";
    font-size: 34px;
    color: white;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
  }
  &__sub-title{
    font-family: "TTNorms";
    font-size: 13px;
    color: white;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
  }
  .input{
    &-field{
      border-radius: 20px;
      padding: 0 20px;
      background-color: #df5467;
      height: 50px;
      position: relative;
      width: calc(40% - 20px);
      input{
        border: none;
        outline: none;
        background-color: transparent;
        width: 100%;
        height: 100%;
        line-height: 48px;
        color: white;
        &::-moz-placeholder,&::-webkit-input-placeholder,&:-ms-input-placeholder,&::-ms-input-placeholder,&::placeholder {
          color: white!important;
        }
      }
    }
    &-submit{
      width: calc(20% - 20px);
      position: relative;
      cursor: pointer;
      &:hover{
        input{
          background-color: #676f7c;
        }
      }
      input{
        cursor: pointer;
        width: 100%;
        height: 50px;
        border: none;
        color: white;
        background-color: #313640;
        font-family: "TTNorms";
        font-size: 16px;
        font-weight: 500;
        text-align: center;
      }
    }
    &-checkbox{
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      input{
        display: none;
        &:checked ~ .input-checkbox__input{
          &:before{
            width: 60%;
            height: 60%;
          }
        }
      }
      &__input{
        display: inline-block;
        width: 21px;
        height: 18px;
        border-radius: 3px;
        background-color: #df5467;
        cursor: pointer;
        position: relative;
        &:before{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          background: url("../assets/img/icons/check_w.png")no-repeat center;
          background-size: contain;
        }
      }
      &__text{
        font-family: "TTNorms";
        font-size: 12px;
        color: white;
        font-weight: 300;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}
.reviews{
  padding-top: 80px;
  &__wrap{
    align-items: stretch;
  }
  &__control{
    margin-top: 30px;
    position: relative;
    a{
      border-radius: 50%;
      height: 30px;
      width: 30px;
      position: relative;
      display: inline-block;
      background-color: #006ae5;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      &:hover{
        background-color: #006eff;
      }
      i{
        display: inline-block;
        position: absolute;
        width: 60%;
        height: 60%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  &__content{
    position: relative;
    height: 550px;
    margin-top: 30px;
    &__wrap{
      width: 80%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      .reviews__content__item__point{
        display: inline-block;
        vertical-align: top;
      }
    }
    &__item{
      display: none;
      &__point{
        width: 100%;
        height: calc(100% - 50px);
        position: relative;
        &__rate{
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          position: absolute;
          width: 130px;
          height: 22px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: space-between;
          i{
            width: 22px;
            height: 22px;
            display: inline-block;
          }
        }
        img{
          position: relative;
          top: calc(50% - 25px);
          left: 50%;
          transform: translate(-50%,-50%);
          width: 100%;
        }
      }
    }
  }
  &__mail{
    &__btn{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      a{
        position: relative;
        margin: 0 auto;
        border-radius: 20px;
        padding: 0 10px;
        background-color: #006ae5;
        box-shadow: 0px 0px 9px 0px #ffffff,-4px 4px 8px -3px #006ae5;
        &:before{
          content: "";
          position: absolute;
          bottom: -15px;
          left: -255px;
          width: 170px;
          height: 315px;
          background: url("../assets/img/web/1_1.png")no-repeat center;
          background-size: contain;
        }
        &:hover{
          background-color: #0074ff;
        }
        span{
          display: inline-block;
          vertical-align: middle;
          font-family: "TTNorms";
          font-weight: 500;
          font-size: 15px;
          color: white;
          line-height: 48px;
          margin: 0 10px;
        }
        i{
          vertical-align: middle;
          display: inline-block;
        }
      }
    }
    &__message{
      width: 100%;
      border-radius: 25px;
      background-color: #eff3fb;
      padding: 45px 100px 40px 100px;
      position: relative;
      margin-top: 35px;
      &:before{
        content: "";
        width: 26px;
        height: 23px;
        position: absolute;
        left: 56px;
        top: 36px;
        background: url("../assets/img/icons/quote_left.png")no-repeat center;
        background-size: contain;
      }
      &:after{
        content: "";
        width: 26px;
        height: 23px;
        position: absolute;
        right: 56px;
        bottom: 36px;
        background: url("../assets/img/icons/quote_right.png")no-repeat center;
        background-size: contain;
      }
      &__logo{
        height: 60px;
        position: relative;
        img{
          height: 100%;
        }
      }
      &__text{
        margin-top: 20px;
        margin-bottom: 5px;
        font-family: "TTNorms";
        font-size: 14px;
        line-height: 18px;
        color: $c-text-d;
        font-weight: 500;
      }
      &__author{
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
        font-family: "TTNorms";
        font-size: 13px;
        line-height: 15px;
        color: $c-text-d;
        font-weight: 600;
      }
    }
  }
}
.client{
  background-color: #eff3fb;
  margin-top: 75px;
  height: 490px;
  &__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 490px;
  }
  &__text{
    font-family: "TTNorms";
    font-size: 12px;
    font-weight: 600;
    color: $c-text-d;
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 16px;
  }
  &__btn{
    position: relative;
    border-radius: 20px;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0px 0px 9px 0px #ffffff,-4px 4px 8px -3px #006ae5;
    margin-bottom: 80px;
    &:hover{
      background-color: rgba(217, 217, 217, 0);
    }
    span{
      display: inline-block;
      vertical-align: middle;
      font-family: "TTNorms";
      font-weight: 900;
      font-size: 13px;
      color: #006ae5;
      line-height: 48px;
      margin: 0 10px;
    }
    i{
      vertical-align: middle;
      display: inline-block;
    }
  }
  &__list{
    height: 490px;
    background-color: white;
    overflow: hidden;
    padding-top: 75px;
    padding-left: 45px;
    padding-right: 50px;
    &__title{
      font-family: "TTNorms";
      font-size: 11px;
      font-weight: 600;
      color: $c-text-d;
      height: 50px;
      margin-bottom: 0;
      margin-top: 0;
    }
    &__wrap{
      width: 100%;
      height: calc(100% - 50px);
      overflow: hidden;
      position: relative;
      padding-left: 65px;
      padding-right: 55px;
      &__control{
        position: absolute;
        top: 50%;
        width: 20px;
        height: 90px;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        a{
          display: inline-block;
          width: 16px;
          height: 12px;
          i{
            display: inline-block;
            vertical-align: top;
          }
        }
      }
      &__body{
        width: 100%;
        position: relative;
        a{
          display: inline-block;
          position: relative;
          width: 100%;
          padding: 30px 10px;
          border: solid 1px #b7bbc3;
          margin-bottom: -2px;
          &:before{
            content: "";
            position: absolute;
            background-color: white;
            width: calc(100% + 4px);
            height: calc(100% - 20px);
            left: -2px;
            top: 10px;
          }
          &:after{
            content: "";
            position: absolute;
            background-color: white;
            width: calc(100% - 20px);
            height: calc(100% + 4px);
            left: 10px;
            top: -2px;
          }
          img{
            width: 100%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
          }
        }
      }
    }
  }
}
.warranty{
  background-color: #eff3fb;
  height: 620px;
  &__bg{
    position: relative;
    z-index: 2;
    height: 620px;
    width: 100%;
    background-size: contain!important;
    background-position:center!important;
    background-repeat: no-repeat!important;
  }
  &__wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    padding-left: 75px;
    padding-bottom: 45px;
    &:before{
      content: "";
      height: 100%;
      width: 100vw;
      position: absolute;
      background-color: white;
      top: 0;
      left: -120px;
    }
    ul{
      list-style: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: 35px;
      li{
        background-color: #eff3fb;
        border-radius: 10px;
        padding: 25px 30px 25px 45px;
        position: relative;
        margin-bottom: 5px;
        color: $c-text-d;
        font-family: "TTNorms";
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        &:before{
          content: "";
          position: absolute;
          background: url("../assets/img/icons/list_check.png")no-repeat center;
          background-size: contain;
          height: 18px;
          width: 18px;
          left: 15px;
          top: 25px;
        }
      }
    }
    a{
      position: relative;
      border-radius: 20px;
      padding: 0 10px;
      background-color: #006ae5;
      box-shadow: 0px 0px 9px 0px #ffffff,-4px 4px 8px -3px #006ae5;
      &:hover{
        background-color: #0074ff;
      }
      span{
        display: inline-block;
        vertical-align: middle;
        font-family: "TTNorms";
        font-weight: 500;
        font-size: 15px;
        color: white;
        line-height: 48px;
        margin: 0 10px;
      }
      i{
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}
.advantages{
  padding-top: 65px;
  position: relative;
  .block-title{
    color: white;
  }
  &__bg{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: url("../assets/img/photo/advantages_bg.png")no-repeat center;
    background-size: cover;
    &__man{
      position: relative;
      min-height: 400px;
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 100%;
        transform: translateX(-50%);
        height: 100%;
        width: 1000px;
        background: url("../assets/img/photo/advantages_man.png")no-repeat center bottom;
        background-size: contain;
      }
    }
  }
  &__list{
    padding-bottom: 130px;
    position: relative;
    ul{
      width: 100%;
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: relative;
      li{
        width: 100%;
        padding: 30px 25px 10px 35px;
        background-color: #161a25;
        margin-top: 0;
        margin-bottom: 18px;
        p{
          margin-top: 0;
          color: white;
          font-family: "TTNorms";
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 18px;
        }
        a{
          display: inline-block;
          width: 100%;
          text-decoration: none;
          &:hover{
            span{
              color: #00afff;
            }
          }
          span{
            font-family: "TTNorms";
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            margin-bottom: 0;
            margin-top: 0;
            color: #0082cb;
          }
          i{
            display: inline-block;
          }
        }
      }
    }
  }
}
.how-work{
  margin-top: 65px;
  &__form{
    width: 85%;
    margin-left: auto;
    padding: 45px 60px 35px 60px;
    background-color: #d71732;
    position: relative;
    form{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__title{
      margin-top: 0;
      font-family: "TTNorms";
      font-size: 34px;
      font-weight: 600;
      line-height: 38px;
      color: white;
      text-align: center;
      margin-bottom: 20px;
    }
    &__sub-title{
      margin-top: 0;
      font-family: "TTNorms";
      font-size: 13px;
      font-weight: 200;
      color: white;
      text-align: center;
      margin-bottom: 40px;
    }
    .input{
      &-field{
        border-radius: 20px;
        padding: 0 20px;
        background-color: #df5467;
        height: 50px;
        position: relative;
        width: 100%;
        margin-bottom: 16px;
        input{
          border: none;
          outline: none;
          background-color: transparent;
          width: 100%;
          height: 100%;
          line-height: 48px;
          color: white;
          &::-moz-placeholder,&::-webkit-input-placeholder,&:-ms-input-placeholder,&::-ms-input-placeholder,&::placeholder {
            color: white!important;
          }
        }
      }
      &-submit{
        width: 145px;
        margin-top: 25px;
        position: relative;
        cursor: pointer;
        &:hover{
          input{
            background-color: #676f7c;
          }
        }
        input{
          cursor: pointer;
          width: 100%;
          height: 50px;
          border: none;
          color: white;
          background-color: #313640;
          font-family: "TTNorms";
          font-size: 16px;
          font-weight: 500;
          text-align: center;
        }
      }
      &-checkbox{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        input{
          display: none;
          &:checked ~ .input-checkbox__input{
            &:before{
              width: 60%;
              height: 60%;
            }
          }
        }
        &__input{
          display: inline-block;
          width: 21px;
          height: 18px;
          flex-shrink: 0;
          border-radius: 4px;
          background-color: #df5467;
          cursor: pointer;
          position: relative;
          &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            background: url("../assets/img/icons/check_w.png")no-repeat center;
            background-size: contain;
          }
        }
        &__text{
          font-family: "TTNorms";
          font-size: 12px;
          line-height: 12px;
          color: white;
          font-weight: 300;
          display: inline-block;
          margin-left: 10px;
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }
  }
  &__text{
    font-family: "TTNorms";
    font-size: 17px;
    line-height: 24px;
    color: $c-text-d;
    font-weight: 500;
    b{
      font-weight: 700;
    }
  }
}
.why-off{
  margin-top: 70px;
  &__content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    &__card{
      height: 100%;
      border-radius: 25px;
      background-color: #eff3fb;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 25px 50px;
      &__img{
        position: relative;
        height: 45px;
        width: 45px;
        margin-bottom: 25px;
      }
      &__title{
        font-family: "TTNorms";
        font-size: 12px;
        font-weight: 600;
        color: black;
        display: inline-block;
        text-align: center;
        border-bottom: 2px solid #00a2ff;
        margin-bottom: 20px;
        margin-top: 0;
      }
      &__text{
        margin: 0;
        font-family: "TTNorms";
        font-size: 11px;
        line-height: 15px;
        font-weight: 300;
        color: black;
        display: inline-block;
        text-align: center;
      }
    }
  }
}
.how-us-work{
  margin-top: 80px;
  &__img{
    padding: 0 25px;
    position: relative;
    &__bg{
      width: 100%;
      height: 100%;
      background: url("../assets/img/icons/bg_men.png")no-repeat center;
      background-size: contain;
    }
  }
  &__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    &__point{
      width: 50%;
      position: relative;
      padding: 0 60px 0 25px;
      margin-bottom: 20px;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        height: 15px;
        width: 2px;
        background-color: #006ae5;
      }
      &__title{
        margin-top: 0;
        font-size: 11px;
        font-family: "TTNorms";
        font-weight: 600;
        color: black;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      &__text{
        margin-top: 0;
        font-size: 11px;
        line-height: 15px;
        font-family: "TTNorms";
        font-weight: 400;
        color: black;
        margin-bottom: 0;
      }
    }
  }
}