@charset "UTF-8";
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ */
/* ╨Ь╨╕╨║╤Б╨╕╨╜╤Л */
/* line 1, _btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* ╨Ъ╨╜╨╛╨┐╨║╨╕ */
/* line 3, _ico.scss */
.ico__arr-left {
  width: 6px;
  height: 10px;
  background: url("../assets/img/icons/arr_left.png") no-repeat center;
  background-size: contain;
}
/* line 8, _ico.scss */
.ico__arr-left__white {
  width: 10px;
  height: 16px;
  background: url("../assets/img/icons/arr_left_w.png") no-repeat center;
  background-size: contain;
}
/* line 15, _ico.scss */
.ico__arr-right {
  width: 6px;
  height: 10px;
  background: url("../assets/img/icons/arr_right.png") no-repeat center;
  background-size: contain;
}
/* line 20, _ico.scss */
.ico__arr-right__white {
  width: 10px;
  height: 16px;
  background: url("../assets/img/icons/arr_right_w.png") no-repeat center;
  background-size: contain;
}
/* line 28, _ico.scss */
.ico__phone {
  height: 20px;
  width: 20px;
  background: url("../assets/img/icons/ico_phone.png") no-repeat center;
  background-size: contain;
}

/* ╨Ш╨║╨╛╨╜╨║╨╕ */
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Thin.eot");
  src: url("../assets/font/TTNorms/TTNorms-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Thin.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Thinitalic.eot");
  src: url("../assets/font/TTNorms/TTNorms-Thinitalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Thinitalic.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Thinitalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-ExtraLight.eot");
  src: url("../assets/font/TTNorms/TTNorms-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-ExtraLight.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-ExtraLightitalic.eot");
  src: url("../assets/font/TTNorms/TTNorms-ExtraLightitalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-ExtraLightitalic.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-ExtraLightitalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Light.eot");
  src: url("../assets/font/TTNorms/TTNorms-Light.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Light.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Lightitalic.eot");
  src: url("../assets/font/TTNorms/TTNorms-Lightitalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Lightitalic.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Regular.eot");
  src: url("../assets/font/TTNorms/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Regular.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Italic.eot");
  src: url("../assets/font/TTNorms/TTNorms-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Italic.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Medium.eot");
  src: url("../assets/font/TTNorms/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Medium.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Mediumitalic.eot");
  src: url("../assets/font/TTNorms/TTNorms-Mediumitalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Mediumitalic.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Mediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Bold.eot");
  src: url("../assets/font/TTNorms/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Bold.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Bolditalic.eot");
  src: url("../assets/font/TTNorms/TTNorms-Bolditalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Bolditalic.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Bolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-ExtraBold.eot");
  src: url("../assets/font/TTNorms/TTNorms-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-ExtraBold.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-ExtraBolditalic.eot");
  src: url("../assets/font/TTNorms/TTNorms-ExtraBolditalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-ExtraBolditalic.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-ExtraBolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Black.eot");
  src: url("../assets/font/TTNorms/TTNorms-Black.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Black.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Blackitalic.eot");
  src: url("../assets/font/TTNorms/TTNorms-Blackitalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Blackitalic.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Blackitalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Heavy.eot");
  src: url("../assets/font/TTNorms/TTNorms-Heavy.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Heavy.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'TTNorms';
  src: url("../assets/font/TTNorms/TTNorms-Heavyitalic.eot");
  src: url("../assets/font/TTNorms/TTNorms-Heavyitalic.eot?#iefix") format("embedded-opentype"), url("../assets/font/TTNorms/TTNorms-Heavyitalic.ttf") format("truetype"), url("../assets/font/TTNorms/TTNorms-Heavyitalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Sailec';
  src: url("../assets/font/SailecRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
/* line 7, style.scss */
* {
  box-sizing: border-box;
}

/* line 10, style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'TTNorms';
  overflow-x: hidden;
  background-color: white;
  padding-bottom: 200px;
}
/* line 18, style.scss */
body a {
  color: #262a33;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
}
/* line 24, style.scss */
body p {
  color: #262a33;
  font-size: 16px;
  line-height: 22px;
}
/* line 29, style.scss */
body span {
  color: #262a33;
  font-size: 16px;
  line-height: 22px;
}
/* line 34, style.scss */
body h1 {
  color: #262a33;
  font-size: 40px;
  line-height: 53px;
}
/* line 39, style.scss */
body h2 {
  color: #262a33;
  font-size: 24px;
  line-height: 32px;
}
/* line 44, style.scss */
body h3 {
  color: #262a33;
  font-size: 18px;
  line-height: 24px;
}
/* line 49, style.scss */
body h4 {
  color: #262a33;
  font-size: 17px;
  line-height: 22px;
}
/* line 54, style.scss */
body h5 {
  color: #262a33;
  font-size: 16px;
  line-height: 20px;
}
/* line 59, style.scss */
body h6 {
  color: #262a33;
  font-size: 14px;
  line-height: 18px;
}

/* ╨б╤В╨╕╨╗╤М ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О */
/* line 2, _header.scss */
.header__origin {
  padding-top: 30px;
  padding-bottom: 20px;
}
/* line 6, _header.scss */
.header__origin__logo a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}
/* line 12, _header.scss */
.header__origin__logo a img {
  width: 130px;
  display: inline-block;
}
/* line 16, _header.scss */
.header__origin__logo a span {
  display: inline-block;
  font-family: "TTNorms";
  font-weight: 600;
  color: #579dee;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  padding: 0 20px;
  white-space: normal;
  height: 60px;
  width: calc(100% - 130px);
}
/* line 32, _header.scss */
.header__origin__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
/* line 38, _header.scss */
.header__origin__button a {
  border-radius: 20px;
  padding: 0 10px;
  background-color: #ebf0fa;
  box-shadow: 0px 0px 9px 0px #ffffff,-4px 4px 8px -3px #135ee8;
}
/* line 43, _header.scss */
.header__origin__button a:hover {
  background-color: #c4c9d3;
}
/* line 45, _header.scss */
.header__origin__button a:hover span {
  color: #0073ff;
}
/* line 49, _header.scss */
.header__origin__button a span {
  display: inline-block;
  font-family: "TTNorms";
  font-weight: 700;
  font-size: 12px;
  color: #006ae5;
  line-height: 48px;
  margin: 0 10px;
}
/* line 57, _header.scss */
.header__origin__button a span.phone-number {
  font-family: "Sailec";
  font-weight: normal;
  font-size: 15px;
  vertical-align: middle;
}
/* line 64, _header.scss */
.header__origin__button a i {
  vertical-align: middle;
  display: inline-block;
}
/* line 72, _header.scss */
.header__nav__first {
  background-color: #023d79;
}
/* line 74, _header.scss */
.header__nav__first__container {
  position: relative;
  height: 48px;
}
/* line 77, _header.scss */
.header__nav__first__container ul {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
/* line 87, _header.scss */
.header__nav__first__container ul li {
  width: auto;
  flex-grow: 1;
  position: relative;
  height: 20px;
  text-align: center;
}
/* line 93, _header.scss */
.header__nav__first__container ul li:last-child:before {
  width: 0;
}
/* line 96, _header.scss */
.header__nav__first__container ul li:before {
  top: 0;
  right: -1px;
  display: inline-block;
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #145c9e;
}
/* line 106, _header.scss */
.header__nav__first__container ul li a {
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "TTNorms";
  font-weight: 400;
}
/* line 114, _header.scss */
.header__nav__first__container ul li a:hover {
  opacity: 0.6;
}
/* line 122, _header.scss */
.header__nav__second {
  background-color: #145c9e;
}
/* line 124, _header.scss */
.header__nav__second__container {
  position: relative;
  height: 48px;
}
/* line 127, _header.scss */
.header__nav__second__container ul {
  height: 100%;
  padding: 0 40px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
/* line 137, _header.scss */
.header__nav__second__container ul li {
  position: relative;
  height: 20px;
  text-align: center;
}
/* line 141, _header.scss */
.header__nav__second__container ul li a {
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "TTNorms";
  font-weight: 400;
}
/* line 149, _header.scss */
.header__nav__second__container ul li a:hover {
  opacity: 0.6;
}

/* ╨и╨░╨┐╨║╨░ */
/* line 1, _page.scss */
.welcome {
  font-size: 0;
  position: relative;
  white-space: nowrap;
}
/* line 5, _page.scss */
.welcome__slide {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 720px;
  white-space: normal;
}
/* line 11, _page.scss */
.welcome__slide__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
}
/* line 20, _page.scss */
.welcome__slide__content {
  height: 100%;
}
/* line 22, _page.scss */
.welcome__slide__content h1 {
  padding: 0 20px;
  font-size: 54px;
  font-family: "TTNorms";
  font-weight: 700;
  color: white;
  text-shadow: 0 0 2px #023d79,0 0 2px #023d79,0 0 2px #023d79;
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 32, _page.scss */
.welcome__slide__content p {
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px 25px;
  background-color: rgba(6, 52, 157, 0.7);
  color: white;
  font-size: 17px;
  font-family: "TTNorms";
  font-weight: 500;
}
/* line 44, _page.scss */
.welcome__slide__content a {
  align-self: flex-start;
  display: inline-block;
  margin-left: 20px;
  white-space: normal;
  padding: 0 20px;
  background: linear-gradient(-45deg, #5581f1, #1153fc);
  border-radius: 25px;
  height: 60px;
  position: relative;
  box-shadow: 0px 0px 20px 3px #5581f1;
}
/* line 55, _page.scss */
.welcome__slide__content a:hover {
  background: linear-gradient(-45deg, #4d61c2, #1146c1);
  box-shadow: none;
}
/* line 59, _page.scss */
.welcome__slide__content a span {
  display: inline-block;
  color: white;
  font-family: "TTNorms";
  font-size: 14px;
  font-weight: 600;
  margin: 0 10px;
  line-height: 60px;
  vertical-align: middle;
  text-transform: uppercase;
}
/* line 70, _page.scss */
.welcome__slide__content a i {
  display: inline-block;
  line-height: 60px;
  vertical-align: middle;
}
/* line 76, _page.scss */
.welcome__slide__content .row {
  height: 100%;
}
/* line 78, _page.scss */
.welcome__slide__content .row > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* line 87, _page.scss */
.welcome__slide__point {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 30px;
  bottom: 25px;
  height: 13px;
  z-index: 2;
}
/* line 95, _page.scss */
.welcome__slide__point a {
  border-radius: 50%;
  display: inline-block;
  height: 11px;
  width: 11px;
  border: 1px solid #2575e3;
  background-color: white;
  margin: 0 2px;
  cursor: pointer;
}
/* line 104, _page.scss */
.welcome__slide__point a.active {
  background-color: transparent;
  border: 1px solid white;
}

/* line 112, _page.scss */
.about {
  margin-top: 75px;
}
/* line 114, _page.scss */
.about .row {
  position: relative;
}
/* line 117, _page.scss */
.about__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
}
/* line 126, _page.scss */
.about__info {
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
/* line 132, _page.scss */
.about__info__title {
  font-family: "TTNorms";
  font-size: 11px;
  font-weight: 600;
  color: #262a33;
  margin-top: 0;
  margin-bottom: 30px;
}
/* line 140, _page.scss */
.about__info__name {
  font-family: "TTNorms";
  font-size: 35px;
  font-weight: 400;
  color: #262a33;
  margin-top: 0;
  margin-bottom: 35px;
}
/* line 148, _page.scss */
.about__info__text {
  font-family: "TTNorms";
  font-size: 12px;
  font-weight: 400;
  color: #262a33;
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 157, _page.scss */
.about__btn {
  height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
}
/* line 164, _page.scss */
.about__btn a {
  margin-bottom: 40px;
  padding: 0 20px;
  line-height: 54px;
  border-radius: 20px;
  border: 1px solid rgba(67, 125, 200, 0.6);
  background-color: rgba(20, 92, 158, 0.6);
  box-shadow: -2px 2px 10px 1px #135ee8ad;
}
/* line 172, _page.scss */
.about__btn a:hover {
  border: 1px solid rgba(67, 125, 200, 0.9);
  background-color: rgba(20, 92, 158, 0.9);
}
/* line 176, _page.scss */
.about__btn a span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: "TTNorms";
  margin: 0 10px;
  line-height: 52px;
  display: inline-block;
  vertical-align: middle;
}
/* line 186, _page.scss */
.about__btn a i {
  display: inline-block;
  vertical-align: middle;
}

/* ╨Ю╤Б╨╜╨╛╨▓╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* line 1, _option.scss */
.link-btn {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

/* ╨Ю╨┐╤Ж╨╕╨╛╨╜╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* ╨Я╨╛╨┤╨▓╨░╨╗ */
/* ╨Ь╨╡╨┤╨╕╨░ ╨╖╨░╨┐╤А╨╛╤Б╤Л */
